<launch>

<arg name="namespace" default="droid_main" />

<group ns="$(arg namespace)">

        <arg name="IMU"                 value="1"       />
        <arg name="CAMERA"              value="1"       />
        <arg name="DATA_COLLECTION"     value="0"       />
        <arg name="RECORD"              value="0"       />
        <group if="$(arg IMU)">
                <include file="$(find autonomous_droid_main)/launch/imu.launch" />
        </group>

        <group if="$(arg CAMERA)">
                <include file="$(find autonomous_droid_main)/launch/camera.launch" />
        </group>

        <group if="$(arg DATA_COLLECTION)">
	        <node name="data_collection" pkg="data_collection" pkg="autonomous_droid_main" />
        </group>

        <group if="$(arg RECORD)">
                <node pkg="rosbag" type="record" name="rosbag_record"
                args="record -o /rosbags --all" />
#                args="record -o /rosbags /droid_main/camera/image_raw /droid_main/imu/info" />
        </group>
</group>

</launch>
